@tailwind components;
@tailwind utilities;

/* Macht alle Überschriften responsiv, indem hyphenation erlaubt wird */
h1,
h2,
h3,
h4,
h5,
h6 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

div.next-video-container {
    width: 100% !important;
}

@media (max-width: $mantine-breakpoint-md) {
    .katex {
        font-size: 1.1em !important;
    }
}
.mantine-List-itemWrapper {
    width: 100%;
}
.mantine-List-itemLabel {
    width: 100%;
}

.mantine-List-root:where([data-with-padding]) {
    padding-inline-start: 23px;
}

/* Blockquotes */
.m_ddec01c0 {
    /* display: none !important; */
}

.katex {
    /* display: none !important; */
    width: 100%;
}
/* Bilder */
.m_9e117634 {
    /* display: none !important; */
}

/* Text aus Überschriften */
.m_8a5d1357 {
    /* display: none !important; */
}
