@tailwind components;
@tailwind utilities;

/* Macht alle Überschriften responsiv, indem hyphenation erlaubt wird */
h1,
h2,
h3,
h4,
h5,
h6 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

div.next-video-container {
    width: 100% !important;
}

@media (max-width: $mantine-breakpoint-md) {
    .katex {
        font-size: 1.1em !important;
    }
}
.mantine-List-itemWrapper {
    width: 100%;
}
.mantine-List-itemLabel {
    width: 100%;
}

.mantine-List-root:where([data-with-padding]) {
    padding-inline-start: 23px;
}

.katex {
    width: 100%;
}

.katex * {
    /* display: none; */
    font-family: var(--font-pennstander) !important;
}

body > div[aria-hidden="true"] {
    width: 0px !important;
}
.mantine-Flex-root > .mantine-Image-root {
    margin-inline: 0px;
    flex: 1;
}
/* .mantine-Image-root {
    display: none !important;
}
.mantine-Title-root {
    display: none !important;
}
.mantine-Blockquote-root {
    display: none;
} */
