.header {
    height: 56px;
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid var(--mantine-color-gray-3);
    position: relative;
    z-index: 100;
}

.inner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 100%;
}
.innerStudent {
    height: 56px;
    padding: 0 var(--mantine-spacing-md);
    display: flex;
    align-items: center;
}

.dropdown {
    padding: var(--mantine-spacing-md) 0;
    border-bottom: 1px solid var(--mantine-color-gray-3);
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
    background-color: white;
    z-index: 999;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
}

.link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: var(--mantine-color-gray-7);
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: var(--mantine-font-size-lg);
    }

    @mixin hover {
        background-color: var(--mantine-color-gray-0);
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-teal-9);
        color: var(--mantine-color-white);
    }
}

.mainlink {
    text-decoration: none;
    color: var(--mantine-color-gray-9);
}
